<?xml version="1.0"?>
<launch>
    <include file="$(find astra_camera)/launch/astra.launch" />

    <include file="$(find apriltag_ros)/launch/astra_continuous_detection.launch" />

    <arg name="use_rviz" default="false" />
    <group if="$(arg use_rviz)">
        <node name="rviz" pkg="rviz" type="rviz"  args="-d $(find work_vision)/rviz/apriltag_ros.rviz"/>
    </group>
</launch>