<?xml version="1.0"?>
<launch>
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" />

    <include file="$(find apriltag_ros)/launch/rs_continuous_detection.launch" />

    <arg name="use_rviz" default="false" />
    <group if="$(arg use_rviz)">
        <node name="rviz" pkg="rviz" type="rviz"  args="-d $(find work_vision)/rviz/apriltag_ros.rviz"/>
    </group>
</launch>