<launch>
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
		  <arg name="align_depth" value="true"/>
	  </include>
    
    <node name="transform_tape" pkg="work_vision" type="transform_tape.py" output="screen"/>
    
    <arg name="use_rviz" default="true"/>
    <group if="$(arg use_rviz)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find work_vision)/rviz/striped_tape.rviz"/>
    </group>

</launch>