<launch>
    <!-- <include file="$(find realsense2_camera)/launch/rs_camera.launch">
		  <arg name="align_depth" value="true"/>
	  </include> -->
    
    <node name="striped_tape_w_sam" pkg="work_vision" type="striped_tape_w_sam.py" output="screen"/>
    <node name="virtual_obstacle_publisher" pkg="work_vision" type="virtual_obstacle_publisher.py" output="screen"/>
    
    <arg name="use_rviz" default="true"/>
    <group if="$(arg use_rviz)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find work_vision)/rviz/striped_tape.rviz"/>
    </group>

</launch>